[submodule "proxmark3"]
	path = proxmark3
	url = https://github.com/marcv81/proxmark3.git
[submodule "libusb"]
	path = libusb
	url = https://github.com/marcv81/libusb.git
[submodule "termcap"]
	path = termcap
	url = https://github.com/marcv81/termcap.git
[submodule "readline"]
	path = readline
	url = https://github.com/marcv81/readline.git
